[submodule "apps/integration-console"]
	path = apps/integration-console
	url = https://github.com/zlovtnik/integration-console
[submodule "apps/wg-key-rotator"]
	path = apps/wg-key-rotator
	url = https://github.com/zlovtnik/wg-key-rotator.git
[submodule "apps/schema-migrator"]
	path = apps/schema-migrator
	url = https://github.com/zlovtnik/schema-migrator.git
[submodule "services/octopus"]
	path = services/octopus
	url = https://github.com/zlovtnik/octopus
