<% if defined?(@total_pages) && @total_pages > 1 %>
  <nav class="pagination" aria-label="Pagination">
    <% previous_params = request.query_parameters.merge(page: @current_page - 1).compact %>
    <% next_params = request.query_parameters.merge(page: @current_page + 1).compact %>

    <% if @current_page <= 1 %>
      <span class="pagination-link disabled" aria-disabled="true">Prev</span>
    <% else %>
      <%= link_to "Prev", url_for(previous_params), class: "pagination-link", rel: "prev" %>
    <% end %>

    <span class="pagination-status">Page <%= @current_page %> of <%= @total_pages %></span>

    <% if @current_page >= @total_pages %>
      <span class="pagination-link disabled" aria-disabled="true">Next</span>
    <% else %>
      <%= link_to "Next", url_for(next_params), class: "pagination-link", rel: "next" %>
    <% end %>
  </nav>
<% end %>
