[Unit]
Description=Platform sync credential generator timer
Requires=credential-generator.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=45min
Persistent=true

[Install]
WantedBy=timers.target
