[Unit]
Description=Platform sync Vault to Kubernetes timer
Requires=vault-k8s-sync.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
